#songBox {
  width: 40%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  float: left;
}

#songPageBruce {
  position:relative;
  height: 18em;
  float: right;
}

.songCap {
  font-family: 'LibreFranklinBold';
  padding-left: 1em;
}