.linesCap {
  font-family: 'Franklin Gothic Medium';
}

#linesBox {
  height: 25em;
  overflow:scroll;
  width: 50%;
}

table, th, td {
  border: 1px solid;
}

#songHeader {
  width: 34%;
}

#albumHeader {
  width: 22%;
}