.linesCap {
  font-family: 'LibreFranklinBold';
  font-size:x-large;
}

#linesBox {
  height: 25em;
  overflow:scroll;
  width:100%;
  float: left;
}

table, th, td {
  border: 1px solid;
}

#songHeader {
  width: 25%;
}

#albumHeader {
  width: 17%;
}

.deleteButton {
  font-size:large;
  text-align: center;
  border: none;
  background: none;
}

.deleteButton:hover {
  color: #B44C4B;
}

.deleteButton:active {
  font-size: larger;
  color: red;
}

#savedLinesBox {
  float:left;
  width:max-content;
  text-align:left;
}

