.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color:black;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 36px;
  font-weight: 700;
  color:red;
  padding-left: 10px;
  margin: 0;
  font-family: 'LibreFranklinBold';
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: black;
  text-align: center;
  padding: 20px 8px;
  margin-right: .5em;
  text-decoration: none;
  font-size: 20px;
  font-family: Helvetica, sans-serif;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: black;
}
